<template>
  <h1>Application de liste de tâches à effectuer</h1>
  <form @submit.prevent="ajouteTache()">
    <label>Nouvelle tâche </label>
    <input
        v-model="nouvelleTache"
        name="nouvelleTache"
        autocomplete="off"
    >
    <button>Ajoutez la tâche</button>
  </form>
  <h2>Liste de tâches à effectuer</h2>
  <ul>
    <li
        v-for="(afaire, index) in listeAFaire"
        :key="index"
    >
			<span
          :class="{ effectue: afaire.effectue }"
          @click="tacheEffectuee(afaire)"
      >{{ afaire.contenu }}</span>
      <button @click="supprimeTache(index)">Supprimer</button>
    </li>
  </ul>
  <h4 v-if="listeAFaire.length === 0">Plus aucune tâche à effectuer</h4>
</template>


<script>
import { ref } from 'vue';
export default {
  name: 'App',
  setup () {
    const nouvelleTache = ref('');
    const defaultData = [{
      effectue: false,
      contenu: 'Apprendre VueJS'
    }]
    const donneesToDo = JSON.parse(localStorage.getItem('listeAFaire')) || defaultData;
    const listeAFaire = ref(donneesToDo);
    function ajouteTache () {
      if (nouvelleTache.value) {
        listeAFaire.value.push({
          effectue: false,
          contenu: nouvelleTache.value
        });
        nouvelleTache.value = '';
      }
      sauvegarder();
    }
    function tacheEffectuee (afaire) {
      afaire.effectue = !afaire.effectue
      sauvegarder();
    }
    function supprimeTache (index) {
      listeAFaire.value.splice(index, 1);
      sauvegarder();
    }
    function sauvegarder () {
      const storageData = JSON.stringify(listeAFaire.value);
      localStorage.setItem('listeAFaire', storageData);
    }
    return {
      listeAFaire,
      nouvelleTache,
      ajouteTache,
      tacheEffectuee,
      supprimeTache,
      sauvegarder
    }
  }
}
</script>

<!--
<style lang="scss">
@import './variables.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

#app {
	max-width: 400px;
	margin: 0 auto;
	line-height: 1.4;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $vue-blue;
}

h1 {
	text-align: center;
}
</style>-->

<style lang="scss">
$border: 2px solid
rgba(
    $color: white,
    $alpha: 0.35,
);
$size1: 6px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;
$backgroundColor: #27292d;
$textColor: white;
$primaryColor: #a0a4d9;
$secondTextColor: #1f2023;
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textColor;
  #app {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    h1 {
      font-weight: bold;
      font-size: 28px;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      label {
        font-size: 14px;
        font-weight: bold;
      }
      input,
      button {
        height: $size5;
        box-shadow: none;
        outline: none;
        padding-left: $size2;
        padding-right: $size2;
        border-radius: $size1;
        font-size: 18px;
        margin-top: $size1;
        margin-bottom: $size2;
      }
      input {
        background-color: transparent;
        border: $border;
        color: inherit;
      }
    }
    button {
      cursor: pointer;
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
      color: $secondTextColor;
      font-weight: bold;
      outline: none;
      border-radius: $size1;
    }
    h2 {
      font-size: 22px;
      border-bottom: $border;
      padding-bottom: $size1;
    }
    ul {
      padding: 10px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: $border;
        padding: $size2 $size4;
        border-radius: $size1;
        margin-bottom: $size2;
        span {
          cursor: pointer;
        }
        .done {
          text-decoration: line-through;
        }
        button {
          font-size: $size2;
          padding: $size1;
        }
      }
    }
    h4 {
      text-align: center;
      opacity: 0.5;
      margin: 0;
    }
  }
}
</style>
